body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.contact h1{
 
  color:#f1356d;
  text-align:center;
  margin-top: 10px;
  font-weight: bold;

}
.contact input{
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0,0,0,1);
  border: 1px solid #ddd;
  width: 500px;
  margin-left: 30%;
}
.contact{
  margin-top: 13%;

 

}
.contact label{
  font-weight: bold;
  display: block;
  margin-top: 18px;
  margin-left: 30%;

}
.contact button{
align-items: center;
 background: #f1356d;
 color: #fff;
 display: flex;
 border-radius: 8px;
 justify-content: center;
margin-left:45%;
}


#swagger-editor {
  font-size: 1.3em;
}

.container {
  height: 100%;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

#editor-wrapper {
  height: 100%;
  border: 1em solid #000;
  border: none;
}

.Pane2 {
  overflow-y: scroll;
}